@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

:root {
    --background-color: #161A30;
    --accent: #B6BBC4;
    --light: #F0ECE5;
    --alt: #31304D;
}

* {
    font-family: 'Playfair Display', serif;
}

body {
    background: linear-gradient(0deg, var(--alt) 0%, var(--background-color) 50%);
    color: var(--light);
    text-align: center;
    max-width: 600px;
    margin: auto;
    height: 100vh;
}

#top_bar {
    display: flex;
    align-items: flex-end;
    padding: 0 1rem 0 1rem;
}

#search {
    margin-bottom: 0;
    font-size: 1.2rem;
}

#location {
    margin: 0 0 0 1rem;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    color: var(--light);
}

#hiddenText {
    position: absolute;
    left: -9999px;
    white-space: nowrap;
}


#country {
    margin: 0 0 0.15rem 1rem;
    font-size: 0.8rem;
}

#time {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

#main_content {
    margin: 2rem 0 0 0;
    display: grid;
}

#weather_icon {
    height: 8rem;
    justify-self: center;
    margin-bottom: 2rem;
}

#degrees {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;    
    min-height: 5rem;
}

#degrees_num {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    line-height: 3rem;
}

#degrees_symbol {
    font-size: 3rem;
    margin: 0;
}

#feels_like {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}


#wind_precipitation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 0 1rem 0;
}

#wind, #precipitation {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}

.w_p {
    font-size: 1.4rem;
}

#forecast_container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin: 1rem;
}

.hour_forecast {
    background-color: var(--alt);
    border-radius: 1rem;
}

.forecast_title {
    margin: 0.5rem 0 1rem 0;
    font-weight: 400;
}

.forecast_temp {
    margin: 0.5rem 0 0.5rem 0;
    font-weight: 400;
    font-size: 0.8rem;
}

.forecast_wind {
    font-weight: 400;
    font-size: 0.66rem;
    margin: 0;
}   

.forecast_precip{
    margin: 0.5rem 0 1rem 0;
    font-weight: 400;
    font-size: 0.65rem;
}

.forecast_img{
    height: 2rem;
}